*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
    overflow-x: hidden;
    color: #000000;
}

body{
    background-color: $bg-primary-color;
    // removing white spaces when page shrinks:
    overflow-x: hidden;
}